<div>
  <h1 class="display-5 text-center">Lista Pacientes</h1>
</div>
<hr>
<table class="table table-hover">
  <i style="margin: 15px;" class="fas fa-undo-alt fa-lg text-warning" (click)="viewPanelsP.emit(false)"> Volver</i>
  <tr style="color: white;" *ngFor="let pd of serviceCrudP.list">
    <td (click)="dataP.emit(pd)">{{pd.Nombre}}</td>
    <td (click)="dataP.emit(pd)">{{pd.Seguro_Social}}</td>
    <td (click)="dataP.emit(pd)">{{pd.Codigo_Postal}}</td>
    <td (click)="dataP.emit(pd)">{{pd.Telefono}}</td>
    <td>
      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.Id)"></i>
      <i style="margin-left: 10px;" *ngIf="botonA" class="fas fa-plus-circle fa-lg text-success"
        (click)="insertRecord(pd.Id)"></i>
      <i style="margin-left: 10px;" *ngIf="botonB" class="fas fa-user-plus fa-lg text-warning"
        (click)="viewPanelDoctores.emit(pd)"></i>
    </td>
  </tr>
</table>